// Colors
$main-color: #000;
$second-color: #0D479f;
$main-color-transparent: rgb(80, 79, 79);
$nav-background: #fff;
$btn-color-hover: #fff;
$background-secondary: #eee;

// heading Font Size
$heading: (48.8px, 39.1px, 31.1px, 25px, 22px, 18px);
$smallheading: (39.1px, 31.1px, 25px, 22px, 18px, 16px);